body {
    overflow: visible;
}
.UnderConstruction-container {
    margin-top: 0;
}
.UnderConstruction-social-networks {
    position: inherit;
}
.UnderConstruction-overlay {
    top: 125px;
    height: 75%;
}
.UnderConstruction-logo {
    margin-top: 4vh;
}
.UnderConstruction {
    height: 75vh;
}