body {
    overflow: visible;
}

.UnderConstruction-container {
    margin-top: -243px;
}

.UnderConstruction-social-networks {
    position: inherit;
}


.UnderConstruction-overlay {
    top: 0px;
    height: 100%;
    overflow: hidden;

    @media only screen and (max-width: 800px) {
        top: 0px;
        height: 91.6vh;
    }

    @media only screen and (max-width: 420px) {
        top: 0px;
        height: 91.6vh;
    }

    @media only screen and (max-width: 375px) {
        top: 0px;
        height: 91.6vh;
    }
}

.UnderConstruction-social-networks {
    margin-top: 4vh;
} 
.UnderConstruction-logo {
    margin-top: 16vh;
}

.UnderConstruction {
    height: 74.3vh;
    overflow: hidden;

    @media only screen and (max-width: 800px) {
        height: 89vh;
    }

    @media only screen and (max-width: 420px) {
        height: 90vh;
    }

    @media only screen and (max-width: 375px) {
        height: 87vh;
    }
}

.UnderConstruction-description {
    @media only screen and (max-width: 420px) {
        width: 300px;
    }
}