/*.bIuPdp {
    background-size: 1356px 1147px;

}

.iPZMPS {
    background-size: 1359px 1177px !important;

}

.kgzdKx {
    background-size: 1362px 798px !important;


}
*/
.paraRelaunch .sc-bdVaJa {

    @media only screen and (max-width: 1466px) {
        background-size: 100vw 140vh !important;
    }

    @media only screen and (max-width: 780px) {
        background-size: 115vw 130vh !important;
    }

    @media only screen and (max-width: 480px) {
        background-size: 200vw 140vh !important;
    }
}

.sc-htpNat {
    @media only screen and (min-width: 1467px) {
        background-size: 110vw 150vh !important;
    }

    @media only screen and (max-width: 1466px) {
        background-size: 100vw 126vh !important;
    }

    @media only screen and (max-width: 780px) {
        background-size: 160vw 130vh !important;
    }

    @media only screen and (max-width: 480px) {
        background-size: 220vw 130vh !important;
    }

}

.paraSolid {
    @media only screen and (max-width: 780px) {
        height: min-content;
    }

    @media only screen and (max-width: 480px) {
        height: min-content;
    }
}